include CHANGES.rst README.rst
include src/ofxstatement/plugins/README.txt
include src/ofxstatement/py.typed
include Pipfile Pipfile.lock
include Makefile
include pytest.ini
graft src/ofxstatement/tests/samples
recursive-include doc *.xml
