[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
mypy = "*"
exceptiongroup = {markers="python_version < '3.11'"}
tomli = {markers="python_version < '3.11'"}

[packages]
ofxstatement = {editable = true,path = "."}
exceptiongroup = "*"
importlib_metadata = { markers="python_version < '3.10'"}
zipp = { markers="python_version < '3.10'"}
platformdirs = "*"
