[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
black = "==23.3.0"
dataclasses = "*"  # needed for black on python 3.6
mypy = "*"
types-pkg-resources = "*"
types-mock = "*"
exceptiongroup = {markers="python_version < '3.11'"}
tomli = {markers="python_version < '3.11'"}

[packages]
ofxstatement = {editable = true,path = "."}
exceptiongroup = "*"
