[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
black = "==20.8b1"
dataclasses = "*"  # needed for black on python 3.6
mypy = "*"

[packages]
ofxstatement = {editable = true,path = "."}
